{% extends 'template.html' %}


{% block content %}
    <img src="/static/img/logo.png" alt="" class="logo">
    <p class="logo_name">RestStore</p>
    <div class="col py-5">
        <div class="card" >
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <img alt="..." class="img-fluid rounded-start p-2" src="{{ url_for('static',filename='img/ofik.jpeg') }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body h-100">

                        <h5 class="card-title col-10 align-self-start offset-1 ofik-page" style="font-size: 35px; font-weight: bold; margin-bottom: 100px; margin-top: 100px">Официант Александр сейчас подойдёт</h5>
                        <a href="/resto" class="button24 col-6 align-self-start offset-3 menu_button map-button">Хорошо</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}