{% extends 'template.html' %}


{% block content %}
    <div class="col py-5">
        <div class="card" >
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <img alt="..." class="img-fluid rounded-start p-2" src="{{ url_for('static',filename='img/logo.png') }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body h-100">

                        <h5 class="card-title">Боба</h5>
                        <p class="card-text">Боба получит на чай</p>

                        <div class="mb-3">
                            <label for="tipsInput" class="form-label">Введите сумму от 10р до 10000р</label>
                            <input type="number" max="10000" min="10" class="form-control" id="tipsInput">
                        </div>

                        <div class="mb-3">
                            <label for="reviewInput" class="form-label">Отзыв для Бобы</label>
                            <input type="text" class="form-control" id="reviewInput">
                        </div>

                        <a href="#" class="btn btn-primary">Оплатить</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}